@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #f953c6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 100px;
}

.active {
  color: #B3005E;
  transition: 0.5s ease-in-out;
}
.hero .overlay {
  opacity: 0;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.hero .overlay .hide {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.hero .box .icon:hover .show {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.hero .box .icon:hover .hide,
.hero .box:hover .overlay {
  opacity: 1;
}

.is-sticky {
  position: fixed;
  top: 10px;
  z-index: 9;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@media screen and (max-width: 768px) {
  .is-sticky {
    position: relative;
  }
}
